body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #ffffff;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  z-index: -3;
}

#root {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  z-index: -2;
  background: var(--color-one);
}

@media (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #root {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
  }

  @media (min-height: 900px) {
    #root {
      min-height: initial;
      height: 900px;
    }
  }
}